<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wish-list</title>
    <meta name="description" content="wish-list" />
    <meta name="keywords" content="wish-list" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.min.css" />
  </head>

  <body>
    <div class="wrapper">
      @@loop('templates/components/_header.html',[{ "title":"header title" }])
      <main class="main">
        <div class="top" style="background-image: url('images/bg.jpg')">
          <div class="container">
            <div class="top__inner">
              <h1 class="top__title">my wishlist</h1>

              <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'">
                <ol class="top__breadcrumb breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    My Wishlist
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>

        <section class="wishlist">
          <div class="container">
            <button class="wishlist--clear" type="button">clear list</button>

            <ul class="wishlist__body row gy-3">
              <li class="wishlist__item product col-sm-4 col-md-4" id="prod">
                <div class="product__img-wrapper">
                  <img
                    src="images/products/1.jpg"
                    alt="product"
                    class="product__img"
                  />

                  <div class="product__overlay">
                    <button class="product--remove">remove from list</button>
                  </div>
                </div>

                <h3 class="product__title">Huawei mate s</h3>
                <span class="product__price">280.00</span>

                <form action="#" class="product__form">
                  <button class="product__btn product__btn--delete" type="button">
                    <i class="fas fa-trash-alt"></i>
                  </button>

                  <button class="product__btn" type="button">
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </form>
             </li>

              <li class="wishlist__item product col-sm-4 col-md-4 col-lg-3" id="prod">
                <div class="product__img-wrapper">
                  <img
                    src="images/products/3.jpg"
                    alt="product"
                    class="product__img"
                  />
                  <div class="product__overlay">
                    <button class="product--remove">remove from list</button>
                  </div>
                </div>

                <h3 class="product__title">SONY XPERIA Z5</h3>
                <span class="product__price">550.00</span>

                <form action="#" class="product__form">
                  <button class="product__btn product__btn--delete" type="button">
                    <i class="fas fa-trash-alt"></i>
                  </button>

                  <button class="product__btn" type="button">
                    <i class="product__order fas fa-shopping-cart"></i>
                  </button>
                </form>
              </li>

              <li class="wishlist__item product col-sm-4 col-md-4 col-lg-3" id="prod">
                <div class="product__img-wrapper">
                  <img
                    src="images/products/4.jpg"
                    alt="product"
                    class="product__img"
                  />
                  <div class="product__overlay">
                    <button class="product--remove">remove from list</button>
                  </div>
                </div>

                <h3 class="product__title">Xiaomi Mi 4i</h3>
                <span class="product__price">350.00</span>

                <form action="#" class="product__form">
                  <button class="product__btn product__btn--delete" type="button">
                    <i class="fas fa-trash-alt"></i>
                  </button>

                  <button class="product__btn" type="button">
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </form>
              </li>

              <li class="wishlist__item product col-sm-4 col-md-4 col-lg-3" id="prod">
                <div class="product__img-wrapper">
                  <img
                    src="images/products/5.jpg"
                    alt="product"
                    class="product__img"
                  />
                  <div class="product__overlay">
                    <button class="product--remove">remove from list</button>
                  </div>
                </div>

                <h3 class="product__title">HUAWEI G8 4G</h3>
                <span class="product__price">350.00</span>

                <form action="#" class="product__form">
                  <button class="product__btn product__btn--delete" type="button">
                    <i class="fas fa-trash-alt"></i>
                  </button>

                  <button class="product__btn" type="button">
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </form>
              </li>

              <li class="wishlist__item product col-sm-4 col-md-4 col-lg-3" id="prod">
                <div class="product__img-wrapper">
                  <img
                    src="images/products/4.jpg"
                    alt="product"
                    class="product__img"
                  />
                  <div class="product__overlay">
                    <button class="product--remove">remove from list</button>
                  </div>
                </div>

                <h3 class="product__title">iPhone Rose Gold</h3>
                <div class="product__offer">
                  <span class="product__price">280.00</span>
                  <span class="product__sale">$649.00</span>
                </div>

                <form action="#" class="product__form">
                  <button class="product__btn product__btn--delete" type="button">
                    <i class="fas fa-trash-alt"></i>
                  </button>

                  <button class="product__btn" type="button">
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </form>
              </li>

              <li class="wishlist__item product col-sm-4 col-md-4 col-lg-3" id="prod">
                <div class="product__img-wrapper">
                  <img
                    src="images/products/7.jpg"
                    alt="product"
                    class="product__img"
                  />
                  <div class="product__overlay">
                    <button class="product--remove">remove from list</button>
                  </div>
                </div>

                <h3 class="product__title">HUAWEI G8 4G</h3>
                <span class="product__price">350.00</span>

                <form action="#" class="product__form">
                  <button class="product__btn product__btn--delete" type="button">
                    <i class="fas fa-trash-alt"></i>
                  </button>

                  <button class="product__btn" type="button">
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </form>
              </li>

              <li class="wishlist__item product col-sm-4 col-md-4 col-lg-3" id="prod">
                <div class="product__img-wrapper">
                  <img
                    src="images/products/8.jpg"
                    alt="product"
                    class="product__img"
                  />
                  <div class="product__overlay">
                    <button class="product--remove">remove from list</button>
                  </div>
                </div>

                <h3 class="product__title">Galaxy Core Prime </h3>
                <span class="product__price">399.00</span>

                <form action="#" class="product__form">
                  <button class="product__btn product__btn--delete" type="button">
                    <i class="fas fa-trash-alt"></i>
                  </button>

                  <button class="product__btn" type="button">
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </form>
              </li>

              <li class="wishlist__item product col-sm-4 col-md-4 col-lg-3" id="prod">
                <div class="product__img-wrapper">
                  <img
                    src="images/products/1.jpg"
                    alt="product"
                    class="product__img"
                  />
                  <div class="product__overlay">
                    <button class="product--remove">remove from list</button>
                  </div>
                </div>

                <h3 class="product__title">Apple iPhone 6S</h3>
                <span class="product__price">550.00</span>

                <form action="#" class="product__form">
                  <button class="product__btn product__btn--delete" type="button">
                    <i class="fas fa-trash-alt"></i>
                  </button>

                  <button class="product__btn" type="button">
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </form>
              </li>
            </ul>

            <ul class="pagination">
              <li class="pagination__item pagination__item--active page-item">
                <a class="pagination__link page-link" href="#">1</a>
              </li>
              <li class="pagination__item page-item">
                <a class="pagination__link page-link" href="#">2</a>
              </li>
              <li class="pagination__item page-item">
                <a class="pagination__link page-link" href="#">3</a>
              </li>
              <li class="pagination__item page-item">
                <a class="pagination__link page-link" href="#">4</a>
              </li>
            </ul>
          </div>
        </section>

        <section class="slider">
          <div class="container">
            <div class="slider__inner">
              <!-- Slider main container -->
              <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="slider__item swiper-slide">
                    <div class="slider__slide">
                      <i class="slider__icon fas fa-thumbs-up"></i>
                    </div>

                    <div class="slider__text">
                      <h3 class="slider__title">Full warrenty</h3>
                      <span class="slider__subtitle"
                        >Read About Our Warrenty</span
                      >
                      <span class="slider__line"></span>
                    </div>
                  </div>

                  <div class="slider__item swiper-slide">
                    <div class="slider__slide">
                      <i class="slider__icon fas fa-truck"></i>
                    </div>

                    <div class="slider__text">
                      <h3 class="slider__title">express shipping</h3>
                      <span class="slider__subtitle"
                        >Local & International Shipping</span
                      >
                      <span class="slider__line"></span>
                    </div>
                  </div>

                  <div class="slider__item swiper-slide">
                    <div class="slider__slide">
                      <i class="slider__icon fab fa-microblog"></i>
                    </div>

                    <div class="slider__text">
                      <h3 class="slider__title">mobile blog</h3>
                      <span class="slider__subtitle"
                        >Discuss Your Favourite Phone</span
                      >
                      <span class="slider__line"></span>
                    </div>
                  </div>

                  <div class="slider__item swiper-slide">
                    <div class="slider__slide">
                      <i class="slider__icon fas fa-headset"></i>
                    </div>

                    <div class="slider__text">
                      <h3 class="slider__title">24/7 Support</h3>
                      <span class="slider__subtitle"
                        >Get Full Support via Chat</span
                      >
                      <span class="slider__line"></span>
                    </div>
                  </div>

                  <div class="slider__item swiper-slide">
                    <div class="slider__slide">
                      <i class="slider__icon fas fa-headset"></i>
                    </div>

                    <div class="slider__text">
                      <h3 class="slider__title">24/7 Support</h3>
                      <span class="slider__subtitle"
                        >Get Full Support via Chat</span
                      >
                      <span class="slider__line"></span>
                    </div>
                  </div>

                  <div class="slider__item swiper-slide">
                    <div class="slider__slide">
                      <i class="slider__icon fas fa-headset"></i>
                    </div>

                    <div class="slider__text">
                      <h3 class="slider__title">24/7 Support</h3>
                      <span class="slider__subtitle"
                        >Get Full Support via Chat</span
                      >
                      <span class="slider__line"></span>
                    </div>
                  </div>

                  <div class="slider__item swiper-slide">
                    <div class="slider__slide">
                      <i class="slider__icon fas fa-headset"></i>
                    </div>

                    <div class="slider__text">
                      <h3 class="slider__title">24/7 Support</h3>
                      <span class="slider__subtitle"
                        >Get Full Support via Chat</span
                      >
                      <span class="slider__line"></span>
                    </div>
                  </div>

                  <div class="slider__item swiper-slide">
                    <div class="slider__slide">
                      <i class="slider__icon fas fa-headset"></i>
                    </div>

                    <div class="slider__text">
                      <h3 class="slider__title">24/7 Support</h3>
                      <span class="slider__subtitle"
                        >Get Full Support via Chat</span
                      >
                      <span class="slider__line"></span>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      @@include('templates/components/_footer.html')
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
