<footer class="footer">
  <div class="footer__body">
    <div class="container">
      <div class="footer__content row align-items-center">
        <p class="footer__text col-3">
          subscribe to latest smartphones news & great deals
          we offer
        </p>

        <form
          action="#"
          class="footer__form col-5 row align-items-center"
        >
          <input
            class="footer__input col-11"
            placeholder="ENTER YOUR EMAIL ADDRESS..."
            type="email"
            name="email"
            id="#"
          />
          <i class="footer__icon far fa-envelope col-1"></i>
        </form>

        <ul class="footer__social row col-4">
          <li class="footer__item col">
            <a href="" class="footer__link"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>

          <li class="footer__item col">
            <a href="" class="footer__link"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </li>

          <li class="footer__item col">
            <a href="" class="footer__link"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </li>

          <li class="footer__item col">
            <a href="" class="footer__link"
              ><i class="fab fa-google-plus-g"></i
            ></a>
          </li>

          <li class="footer__item col">
            <a href="" class="footer__link"
              ><i class="fab fa-pinterest-p"></i
            ></a>
          </li>

          <li class="footer__item col">
            <a href="" class="footer__link"
              ><i class="fab fa-youtube"></i
            ></a>
          </li>

          <li class="footer__item col">
            <a href="" class="footer__link"
              ><i class="fas fa-rss"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer__bottom row align-items-center">
    <div class="container">
      <div class="footer__inner row">
        <span class="footer__coppy col-4"
          >Copyright © 2015 <strong>codeitStore</strong> All
          Rights Reserved.</span
        >

        <ul
          class="footer__partners col-8 d-flex justify-content-end"
        >
          <li class="footer__partner col-1">
            <img
              src="images/partners/c1.jpg"
              alt="partner"
              class="footer__img"
            />
          </li>

          <li class="footer__partner col-1">
            <img
              src="images/partners/c2.jpg"
              alt="partner"
              class="footer__img"
            />
          </li>

          <li class="footer__partner col-1">
            <img
              src="images/partners/c3.jpg"
              alt="partner"
              class="footer__img"
            />
          </li>

          <li class="footer__partner col-1">
            <img
              src="images/partners/c4.jpg"
              alt="partner"
              class="footer__img"
            />
          </li>

          <li class="footer__partner col-1">
            <img
              src="images/partners/c5.jpg"
              alt="partner"
              class="footer__img"
            />
          </li>

          <li class="footer__partner col-1">
            <img
              src="images/partners/c6.jpg"
              alt="partner"
              class="footer__img"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
