<footer class="footer">
  <div class="footer__body">
    <div class="container">
      <p class="footer__text">
        subscribe to latest smartphones news & great deals
        we offer
      </p>
    </div>
  </div>

  <div class="footer__bottom row align-items-center">
    <div class="container">
      <div class="footer__inner row">
        <span class="footer__coppy col-4"
          >Copyright © 2015 <strong>codeitStore</strong> All
          Rights Reserved.</span
        >

        <ul
          class="footer__partners col-8 d-flex justify-content-end"
        >
          <li class="footer__partner col-1">
            <img
              src="images/p1.jpg"
              alt="partner"
              class="footer__img"
            />
          </li>

          <li class="footer__partner col-1">
            <img
              src="images/p1.jpg"
              alt="partner"
              class="footer__img"
            />
          </li>

          <li class="footer__partner col-1">
            <img
              src="images/p1.jpg"
              alt="partner"
              class="footer__img"
            />
          </li>

          <li class="footer__partner col-1">
            <img
              src="images/p1.jpg"
              alt="partner"
              class="footer__img"
            />
          </li>

          <li class="footer__partner col-1">
            <img
              src="images/p1.jpg"
              alt="partner"
              class="footer__img"
            />
          </li>

          <li class="footer__partner col-1">
            <img
              src="images/p1.jpg"
              alt="partner"
              class="footer__img"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
