<header class="header">
  <div class="container">
    <div class="heaer__inner row align-items-center">
      <div class="logo col">
        <p class="logo__title">
          Code<span class="logo--black">IT</span>
        </p>
        <span class="logo__subtitle">store</span>
      </div>

      <nav class="menu col-md-6">
        <ul class="menu__list row">
          <li class="menu__item col">
            <a
              href="#"
              class="menu__link menu__link--active"
              >home</a
            >
          </li>
          <li class="menu__item col">
            <a href="#" class="menu__link">brands</a>
          </li>
          <li class="menu__item col">
            <a href="#" class="menu__link">latest</a>
          </li>
          <li class="menu__item col">
            <a href="#" class="menu__link">featured</a>
          </li>
          <li class="menu__item col">
            <a href="#" class="menu__link">about</a>
          </li>
          <li class="menu__item col">
            <a href="#" class="menu__link">blog</a>
          </li>
          <li class="menu__item col">
            <a href="#" class="menu__link">contact</a>
          </li>
          <li class="menu__item col">
            <a href="#" class="menu__link"
              ><i class="fas fa-search"></i
            ></a>
          </li>
        </ul>
      </nav>

      <div class="basket col-2">
        <div class="basket__inner">
          <span class="basket__sum">0.00</span>
          <span class="basket__counter">0</span>
        </div>
      </div>
    </div>
  </div>
</header>
