// Variables
$accent: #436372;
$default: #585858;
$title: #243f4d;
$btn: #a3bbc8;
$bg: #fcd7b6;

%ms-400 {
  font-family: "Montserat-Regular", sans-serif;
  font-weight: 400;
}

%ms-700 {
  font-family: "Montserat-Bold", sans-serif;
  font-weight: 700;
}
