@import "libs";
@import "reset";
@import "vars";
@import "mixin";
@import "fonts";
@import "global";
// @import "sprite";
@import "components/header";
@import "components/menu";
@import "components/footer";

.breadcrumb-item {
  text-transform: uppercase;

  &.active {
    color: #888;
    @extend %ms-400;
  }

  & > a {
    color: #444;
    cursor: pointer;
  }

  & + .breadcrumb-item::before {
    color: #444;
  }
  @extend %ms-700;
}

.top {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
  }

  &__breadcrumb {
    margin-bottom: 0;
    @include mq("480") {
      font-size: 12px;
    }
  }

  &__title {
    font-size: 26px;
    text-transform: uppercase;
    color: #222;
    @include mq("480") {
      font-size: 18px;
    }
    @extend %ms-700;
  }
}

.wishlist {
  position: relative;
  padding: 50px 0 190px;

  &--clear {
    display: block;
    margin-left: auto;
    border: solid 2px #444;
    padding: 15px 25px;
    font-size: 12px;
    text-transform: uppercase;
    transition: background-color 0.4s;
    cursor: pointer;

    &:hover {
      background-color: #e24545;
    }
  }

  &__body {
    justify-content: center;
    margin-bottom: 30px;
  }

  &::before {
    @include pseudo();
    left: 0;
    right: 0;
    bottom: 80px;
    min-width: 100vh;
    min-height: 2px;
    background-color: #eee;
  }
}

.product {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  border: solid 1px #eee;
  padding: 0;
  min-height: 375px;
  max-width: 270px;
  transition: background-color 0.3s, box-shadow 0.3s, visibility 0.3s;

  &__img-wrapper {
    position: relative;
    flex: 1 1 auto;
    margin-bottom: 60px;
    padding: 30px 0;
    max-width: 370px;

    &::after {
      @include pseudo();
      left: 50%;
      bottom: 0;
      width: 10px;
      height: 3px;
      background-color: #e24545;
      transform: translateX(-50%);
    }
  }

  &__img {
    margin: 0 auto;
    object-fit: contain;
  }

  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__title {
    margin-bottom: 12px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #222;
  }

  &__price {
    position: relative;
    display: inline-block;
    margin: 0 auto 25px;
    padding-left: 10px;
    font-size: 14px;
    color: #e24545;

    &::before {
      @include pseudo($content: "$");
      left: 0;
    }
  }

  &__offer {
    text-align: center;
  }

  &__sale {
    // position: absolute;
    // right: 0;
    // top: 0;
    // bottom: 0;
    margin-left: 5px;
    max-width: 55px;
    max-height: 12px;
    font-size: 14px;
    text-decoration: line-through;
    color: #888;
  }

  &__form {
    display: flex;
    justify-content: center;
  }

  &__btn {
    border: 1px solid #eee;
    min-width: 40px;
    min-height: 40px;
    transition: borer-color 0.4s, color 0.4s;
  }

  &--remove {
    border: 2px solid #fff;
    padding: 15px 23px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    transition: borer-color 0.4s, color 0.2s;
    cursor: pointer;

    &:hover {
      border-color: #e24545;
      color: #e24545;
    }
  }

  &:hover {
    box-shadow: 0 0 40px 3px rgba(0, 0, 0, 0.1);
    background-color: #f6f6f6;

    .product__overlay {
      visibility: visible;
    }

    .product__btn {
      color: #fff;
      background-color: #e24545;
    }
  }
  @extend %ms-700;
}

.pagination {
  justify-content: center;

  &__item {
    border: solid 2px #ddd;
    font-size: 12px;
    background-color: #f6f6f8;
    transition: border-color 0.3s;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &--active {
      border-color: #444;

      .pagination__link {
        color: #e24545;
      }
    }
  }

  &__link {
    border: none;
    color: #888;
    transition: color 0.3s;

    &:hover {
      color: #e24545;
      background-color: transparent;
    }
  }
}

.slider {
  &__inner {
    position: relative;
    margin-bottom: 100px;
    border: solid 2px #444;
    padding: 28px 48px 36px;

    &::before {
      @include pseudo();
      left: 50%;
      right: 0;
      top: -4px;
      width: 90%;
      height: 4px;
      background-color: #fff;
      transform: translateX(-50%);
    }
  }

  &__item {
    display: flex;
    @include mq("1248") {
      justify-content: center;
    }
  }

  &__title {
    font-size: 16px;
    text-transform: uppercase;
    color: #222;
    @extend %ms-700;
  }

  &__subtitle {
    // position: relative;
    font-size: 12px;
    color: #444;

    // &::after {
    //   @include pseudo();
    //   left: 0;
    //   bottom: -15px;
    //   min-height: 2px;
    //   max-width: 10px;
    //   background-color: #000;
    // }
  }

  &__icon {
    margin-right: 20px;
    font-size: 32px;
  }

  &__line {
    display: block;
    margin-top: 10px;
    min-height: 2px;
    max-width: 10px;
    background-color: #ccc;
  }
}

.basket {
  display: flex;
  align-items: center;
  max-width: 140px;
  @include mq("768") {
    margin: 0 auto 20px;
  }

  &__inner {
    position: relative;
    border: solid 2px #444;
    padding: 11px 30px 11px 18px;
  }

  &__icon {
    margin-right: 4px;
    font-size: 20px;
    color: #e24545;
  }

  &__sum {
    font-size: 15px;
    @extend %ms-700;
  }

  &__counter {
    position: absolute;
    right: -15px;
    top: 50%;
    border: solid 5px #fff;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 11px;
    color: #fff;
    background-color: #222;
    transform: translateY(-50%);
  }
}
